body {
  background-color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

blockquote {
  background-color: #CCC;
  border-left: 0.5em solid #AAA;
  display: inline-block;
  font-weight: bolder;
  margin: 1em;
  padding: 0.5em 1em;
}

input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #888;
  font-family: "Kalam", serif;
  font-size: 1.2em;
  padding: 0.1em;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0.5em;
  text-align: right;
}

td[colspan="2"] {
  color: mediumblue;
  font-weight: bold;
  padding-bottom: 0;
  padding-top: 1.5em;
  text-align: left;
}

bold {
  border-top: 1px solid black;
  color: mediumblue;
  font-weight: bold;
}

strong {
  border-top: 1px solid black;
  color: green;
  font-weight: bold;
}

s {
  position: relative;
  padding: 0 0.2em;
  text-decoration: none;
}

em {
  color: mediumblue;
  font-style: normal;
}

s::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 3px;
  background: linear-gradient(15deg, transparent, red, transparent);
  transform: translateY(-50%) rotate(-25deg);
}

#maths {
  background-color: #F8F8F8;
  background-image:
    linear-gradient(90deg, #EEE 1px, transparent 1px),
    linear-gradient(#EEE 1px, transparent 1px);
  background-size: 1.5em 1.5em;
  border-radius: 1em;
  border: 1px solid #CCC;
  box-shadow: 0 1em 1em #CCC;
  display: inline-block;
  font-family: "Kalam", serif;
  margin: 1em auto;
  padding: 0 1em;
}

#maths p {
  color: mediumblue;
  font-size: 1.3em;
  padding: 0.5em;
  text-align: center;
}
